.Recommended-courses{
    position: absolute;
    width: 400px;
    top: 35%;
    left: 17%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
}

.Saved-courses{
    position: absolute;
    width: 400px;
    top: 77%;
    left: 17%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
}

.Friends-list{
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
    padding-top: 10px;
}

.Friends-profile{
    padding-top: 30px;
    position: absolute;
    width: 230px;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.Current-course{
    position: absolute;
    top: 27.5%;
    left: 45%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
    width: 300px;
}

.Continue-button{
    padding-left: 9px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.Progress-bar{
    width: 80%;
    align-items: center;
    padding-left: 15px;
}

.News{
    position: absolute;
    top: 71%;
    left: 52.2%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
    width: 500px;
}

.News-second-card{
    padding-top: 10px;
}