/* .dropdown{
    position: absolute;
    top: 24%;
    left: 34.45%;
    transform: translate(-50%, -50%);
} */

.Recommended-courses{
    position: absolute;
    width: 500px;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
}

.Saved-courses{
    position: absolute;
    width: 400px;
    top: 35%;
    left: 17%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
}

.Friends-list{
    /* position: absolute;
    width: 230px;
    top: 35%;
    left: 88%;
    transform: translate(-50%, -50%); */
    box-shadow: rgb(0 0 0 / 16%) 1px 3px 10px;
    padding-top: 30px;
}

.Friends-profile{
    padding-top: 30px;
    position: absolute;
    width: 230px;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
}