.show-course-form {
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

.top-bar-container {
  grid-column: 1;
  grid-row: 1;
  column-span: 2;
  column-gap: 50px;
  display: flex;
}

.activity-title-container {
  grid-column: 1;
  grid-row: 1;
  background-color: blue;
}

.course-progress-container {
  grid-column: 2;
  grid-row: 1;
  background-color: blueviolet;

}

.activity-content-container {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(209, 231, 14);

}

.activity-comments-container {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(255, 0, 123);

}

.buttons-panel {
  grid-column: 2;
  grid-row: 3;
  background-color: rgb(18, 212, 131);

}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}